<div class="CssBase__Sample_10_03">
  <body class="body cc-page cc-page-index cc-indexpage cc-pagemode-default cc-content-parent" id="page-2062160191">
  <div id="cc-inner" class="cc-content-parent">

    <%= render 'css_base/chapter10/sample_10_03/shared/header' %>

    <div id="content" class="cc-content-parent">
      <div id="main" class="cc-content-parent">
        <div id="content_area" data-container="content"><div id="content_start"></div>

          <div id="cc-matrix-2740230291"><div id="cc-m-10233547891" class="n j-header"><h1 id="cc-m-header-10233547891">仙台駅から徒歩10分の相談所</h1></div><div id="cc-m-10234577191" class="n j-header"><h2 id="cc-m-header-10234577191">まずはお気軽にご相談ください</h2></div><div id="cc-m-10233547991" class="n j-textWithImage"><figure class="cc-imagewrapper cc-m-image-align-1" style="width: 320px; display: block;">
            <img id="cc-m-textwithimage-image-10233547991" src=<%= asset_path('css_base/sample_10_03/image.jpg') %> alt="" title="" data-src-width="320" data-src-height="220">
          </figure>
            <div>
              <div id="cc-m-textwithimage-10233547991" data-name="text" data-action="text" class="cc-m-textwithimage-inline-rte">
                <p style="line-height: 25.6px;" data-mce-style="line-height: 25.600000381469727px;">
                  仙台駅から徒歩10分の税理士事務所です。
                </p>

                <p style="line-height: 25.6px;" data-mce-style="line-height: 25.600000381469727px;">
                  個人のお客様から企業まで、幅広くお手伝いしております。
                </p>

                <p style="line-height: 25.6px;" data-mce-style="line-height: 25.600000381469727px;">
                  電話相談は初回無料、個別に対面相談を受け付けております。まずはお気軽にお問い合わせください。
                </p>    </div>
            </div>

            <div class="cc-clear"></div>
          </div><div id="cc-m-10234568891" class="n j-hgrid">    <div class="cc-m-hgrid-column" style="width: 49%;">
            <div id="cc-matrix-2740418991"><div id="cc-m-10233547791" class="n j-header"><h2 id="cc-m-header-10233547791">法人のお客様</h2></div><div id="cc-m-10234577891" class="n j-imageSubtitle"><figure class="cc-imagewrapper cc-m-image-align-3" style="width: 208px; display: block;">
              <img id="cc-m-imagesubtitle-image-10234577891" src=<%= asset_path('css_base/sample_10_03/image_001.jpg') %> alt="" title="" data-src-width="208" data-src-height="143">
            </figure>

              <div class="cc-clear"></div></div><div id="cc-m-10234579191" class="n j-text"><p>
              設立支援から決済申告・経営相談・経理業務のアウトソーシングまで、トータルサポートいたします。
            </p>

              <p style="text-align: center;" data-mce-style="text-align: center;">
                <a data-mce-href="#業務案内/法人のお客様/" href="service/company/index.html" title="法人のお客様">詳しくはこちらをご覧ください。</a>
              </p></div></div>    </div>
            <div class="cc-m-hgrid-separator" data-display="cms-only"><div></div></div>
            <div class="cc-m-hgrid-column last" style="width: 49%;">
              <div id="cc-matrix-2740419091"><div id="cc-m-10234568991" class="n j-header"><h2 id="cc-m-header-10234568991">個人のお客様</h2></div><div id="cc-m-10234578591" class="n j-imageSubtitle"><figure class="cc-imagewrapper cc-m-image-align-3" style="width: 210px; display: block;">
                <img id="cc-m-imagesubtitle-image-10234578591" src=<%= asset_path('css_base/sample_10_03/image_002.jpg') %> alt="" title="" data-src-width="210" data-src-height="144">
              </figure>

                <div class="cc-clear"></div></div><div id="cc-m-10234579791" class="n j-text"><p>
                個人のご依頼も承っております。確定申告や相続税・税務相談、遺言書作成のご相談もお気軽にお問い合わせください。
              </p>

                <p style="text-align: center;" data-mce-style="text-align: center;">
                  <a data-mce-href="#業務案内/個人のお客様/" href="service/personal/index.html" title="個人のお客様">詳しくはこちらをご覧ください。</a>
                </p></div></div>    </div>

            <div class="cc-m-hgrid-overlay" data-display="cms-only"></div>

            <br class="cc-clear">

          </div><div id="cc-m-10233547691" class="n j-header"><h1 id="cc-m-header-10233547691">お知らせ</h1></div><div id="cc-m-10233548091" class="n j-text"><ul>
            <li>2015. 3. 6 協会けんぽの保険料の料率が平成27年4月分から変わります。
            </li>

            <li>2015. 1.23　国税庁が「平成26年分の所得税及び復興特別所得税、消費税及び地方消費税並びに贈与税の確定申告について」を発表しました。
            </li>
          </ul></div></div>

        </div> <!--/#main-->
      </div>

      <%= render 'css_base/chapter10/sample_10_03/shared/side' %>

      <!--/#content-->
    </div>

    <%= render 'css_base/chapter10/sample_10_03/shared/footer' %>

  </div>
  <!--/#footer-->

  </body>
</div>