<div class="CssDesign">
<h1>コンポーネント設計の実践</h1>
  <h3><%= link_to 'セレクタのリファクタリング', css_design_chap2_2_path %></h3>
  <h3><%= link_to 'コンポーネントをどのように作るか', css_design_chap4_1_path %></h3>
  <h3><%= link_to 'よくあるコンポーネントの設計・実装パターン', css_design_chap4_2_path %></h3>
  <h3><%= link_to 'CSSプリプロセッサを用いた設計と管理', css_design_chap5_1_path %></h3>
  <h3><%= link_to 'Web Componentsの可能性', css_design_chap7_2_path %></h3>
</div>
