<div class="Todo">

  <div class='navbar navbar-default'>
    <%= link_to('Todo Application', todo_tasks_path,{class:'navbar-brand'}) %>
    <ul class='nav navbar-nav'>
      <li class=<%= 'active' unless @status %>>
        <%= link_to('All Task', todo_tasks_path) %>
      </li>
      <li class=<%= 'active' unless @status == 'not_yet' %>>
        <%= link_to('NOT YET Tasks', todo_tasks_path(status:'not_yet')) %>
      </li>
      <li class=<%= 'active' unless @status == 'pending' %>>
        <%= link_to('PENDING Tasks', todo_tasks_path(status:'pending')) %>
      </li>
      <li class=<%= 'active' unless @status == 'done' %>>
        <%= link_to('DONE Tasks', todo_tasks_path(status:'done')) %>
      </li>
    </ul>
  </div>

  <div class="container">
    <h1>Listing Tasks</h1>

    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Content</th>
        <th>Status</th>
        <th>Created Time</th>
      </tr>
      </thead>
      <tbody>
      <% @todo_tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= task.name %></td>
            <td><%= task.content %></td>
            <td><%= task.status_name %></td>
            <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>