<h1><%= link_to 'Webページの操作' , javascripts_samples_sample_01_path %></h1>
<h1><%= link_to '文字の加工' , javascripts_samples_sample_02_path %></h1>
<h1><%= link_to '値による表示の変更' , javascripts_samples_sample_03_path %></h1>
<h1><%= link_to '複雑化した処理の整理' , javascripts_samples_sample_04_path %></h1>
<h1><%= link_to '大量のデータの処理' , javascripts_samples_sample_05_path %></h1>