<p id="notice"><%= notice %></p>

<h1>Rails Tutorial Toy Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rails_tutorial_toy_users.each do |rails_tutorial_toy_user| %>
      <tr>
        <td><%= rails_tutorial_toy_user.name %></td>
        <td><%= rails_tutorial_toy_user.email %></td>
        <td><%= link_to 'Show', rails_tutorial_toy_user %></td>
        <td><%= link_to 'Edit', edit_rails_tutorial_toy_user_path(rails_tutorial_toy_user) %></td>
        <td><%= link_to 'Destroy', rails_tutorial_toy_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rails Tutorial Toy User', new_rails_tutorial_toy_user_path %>
