<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rails_tutorial_toy_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rails_tutorial_toy_user.email %>
</p>

<%= link_to 'Edit', edit_rails_tutorial_toy_user_path(@rails_tutorial_toy_user) %> |
<%= link_to 'Back', rails_tutorial_toy_users_path %>
