<section class="Section l-column">
  <h1><%= link_to '文字（テキスト）',css_base_chapter04_index_path %></h1>
  <h1><%= link_to '色（カラー）',css_base_chapter05_index_path %></h1>
  <h1><%= link_to '装飾',css_base_chapter06_index_path %></h1>
  <h1><%= link_to 'レイアウト',css_base_chapter07_index_path %></h1>
  <h1><%= link_to '見出しを装飾する',css_base_chapter08_index_path %></h1>
  <h1><%= link_to 'Webサイトの装飾を変えてみよう[初級編]',css_base_chapter10_sample_10_01_path %></h1>
  <h1><%= link_to 'Webサイトの装飾を変えてみよう[中級編]',css_base_chapter10_02_path %></h1>
 </section>
