<div class="CssBase__Sample_10_03">
  <body class="body cc-page cc-pagemode-default cc-content-parent" id="page-2062160391">
  <div id="cc-inner" class="cc-content-parent">

    <%= render 'css_base/chapter10/sample_10_03/shared/header' %>

    <div id="content" class="cc-content-parent">
      <div id="main" class="cc-content-parent">
        <div id="content_area" data-container="content"><div id="content_start"></div>

          <div id="cc-matrix-2740230391"><div id="cc-m-10233550991" class="n j-header"><h1 id="cc-m-header-10233550991">業務案内</h1></div><div id="cc-m-10233550891" class="n j-imageSubtitle"><figure class="cc-imagewrapper cc-m-image-align-1" style="width: 670px; display: block;">
            <img id="cc-m-imagesubtitle-image-10233550891" src=<%= asset_path('css_base/sample_10_03/service/image.jpg') %> alt="" title="" data-src-width="680" data-src-height="180">
          </figure>

            <div class="cc-clear"></div></div><div id="cc-m-10233551291" class="n j-header"><h2 id="cc-m-header-10233551291">信頼されるパートナーを目指して</h2></div><div id="cc-m-10234971891" class="n j-header"><h3 id="cc-m-header-10234971891">初回は電話相談無料！対面でのご相談もお気軽に</h3></div><div id="cc-m-10234970791" class="n j-text"><p>
            会社の設立支援から決済申告・経営相談・経理業務のアウトソーシングまで、<br>
            <span style="line-height: 25.6px;" data-mce-style="line-height: 25.6000003814697px;">経験豊富なスタッフがしっかり</span><span style="line-height: 1.8;" data-mce-style="line-height: 1.8;">トータルサポートいたします。</span>
          </p>

            <p>
              また、個人のご依頼も承っております。<br>
              確定申告や相続税・税務相談、遺言書作成のご相談もお気軽にお問い合わせください。
            </p></div><div id="cc-m-10233551091" class="n j-header"><h3 id="cc-m-header-10233551091">法人のお客様</h3></div><div id="cc-m-10233550791" class="n j-textWithImage"><figure class="cc-imagewrapper cc-m-image-align-1" style="width: 290px; display: block;">
            <img id="cc-m-textwithimage-image-10233550791" src=<%= asset_path('css_base/sample_10_03/service/image_001.jpg') %> alt="" title="" data-src-width="290" data-src-height="190">
          </figure>
            <div>
              <div id="cc-m-textwithimage-10233550791" data-name="text" data-action="text" class="cc-m-textwithimage-inline-rte">
                <p>
                  トータルサポートいたします。
                </p>

                <ul style="list-style-position: inside;">
                  <li>決算申告
                  </li>

                  <li>設立支援
                  </li>

                  <li>経営相談・資金計画
                  </li>

                  <li>経理業務のアウトソーシング
                  </li>
                </ul>

                <p>
                  <a data-mce-href="../index.html業務案内/法人のお客様/" href="../service/company/index.html" title="法人のお客様">詳しくはこちらをご覧ください。</a>
                </p>    </div>
            </div>

            <div class="cc-clear"></div>
          </div><div id="cc-m-10233551191" class="n j-header"><h3 id="cc-m-header-10233551191">個人のお客様</h3></div><div id="cc-m-10233550691" class="n j-textWithImage"><figure class="cc-imagewrapper cc-m-image-align-1" style="width: 290px; display: block;">
            <img id="cc-m-textwithimage-image-10233550691" src=<%= asset_path('css_base/sample_10_03/service/image_002.jpg') %> alt="" title="" data-src-width="290" data-src-height="190">
          </figure>
            <div>
              <div id="cc-m-textwithimage-10233550691" data-name="text" data-action="text" class="cc-m-textwithimage-inline-rte">
                <p>
                  まずはお気軽にお問い合わせください。
                </p>

                <ul style="list-style-position: inside;">
                  <li>所得税・消費税の確定申告
                  </li>

                  <li>相続税・贈与税・譲渡等の申告
                  </li>

                  <li>税務相談
                  </li>

                  <li>相続税対策
                  </li>

                  <li>遺言書作成の相談
                  </li>
                </ul>

                <p>
                  <a data-mce-href="../index.html業務案内/個人のお客様/" href="../service/personal/index.html" title="個人のお客様">詳しくはこちらをご覧ください。</a>
                </p>    </div>
            </div>

            <div class="cc-clear"></div>
          </div></div>

        </div> <!--/#main-->
      </div>

      <%= render 'css_base/chapter10/sample_10_03/shared/side' %>

      <!--/#content-->
    </div>

    <%= render 'css_base/chapter10/sample_10_03/shared/footer' %>

  </div>
  <!--/#footer-->

  </body>
</div>