<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EtudeForRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'baukis', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'baukis', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/baukis/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'shared/baukis/footer' %>
  </body>

</html>
