<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'rails_tutorial', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'rails_tutorial', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'rails_tutorial/shared/header' %>
    <%= yield %>
  <%= render 'rails_tutorial/shared/footer' %>
  </body>

</html>
